<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/adminGroup.css">
    <title>Amigo Secreto LD</title>
</head>
  
 <body>

 <!-------- MENU DE NAVEGACIÓN -------->
 <div class="header">
    <%- include("./partials/header.ejs")%>
   </div>

    <section>
        <div class="nameGroup">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Administrador</th>
                    <th scope="col">Nombre del grupo</th>
                </tr>              
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Sector administrativo</th>
                    <td><%= group.groupname %></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="membersGroup">
        <table class="table table-striped table-dark">
            <thead>
                <table class="table table-striped table-dark">
                    <tr>
                        <th scope="col">Participantes</th>
                        <th scope="col">Gustos</th>
                        <th scope="col">Disgustos</th>
                        <th scope="col">Alergias</th>
                    </tr>                      
            </thead>
            <tbody>
                <% member.forEach(member => { %>
                    <tr>
                        <th scope="row"><%= member.name %> <%= member.lastname %></th>
                        <td><%= member.like %></td>
                        <td><%= member.dislike %></td>
                        <td><%= member.alergies %></td>
                    </tr>
                <% }); %>                    
            </tbody>
        </table>
    </div>
    </section>
    <%- include("./partials/footer.ejs")%>
</body>
</html>