<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= usuario.name %></h3>
    <hr>
    <div class="profileDescription">
        <h4>MIS DATOS</h4>
        <p><b>Nombre:</b> <%= usuario.name %> <%= usuario.lastname %></p>
        <p><b>Grupo:</b> <%= usuario.groups.groupname %> </p>
        <p><b>Gustos:</b> <%= usuario.like %> </p>
        <p><b>Disgustos:</b> <%= usuario.dislike %> </p>
        <p><b>Alergias:</b> <%= usuario.alergies %> </p>
    </div>
    <div class="Mbuttons">
        <div class="MbuttonProfile">
            <a href="/#">Cerrar Sesión</a>
        </div>
        <% if(locals.userLogged && locals.userLogged.rol === 1) {%>        
            <div class="MbuttonProfile">
                <a href="https://globaltech-dashboard.herokuapp.com/" target="_blank">Dashboard</a>
            </div>
        <% }%>
    </div>

    <% if (usuario.id_member === null) { %>
        <div>
            <form action="/profile/<%= usuario.idcard %>" method="post">
                <h1>Amigo Secreto</h1>
                <hr>
                <input type="submit" value="¿A quién tengo?">
            </form>
        </div>
    <% } %>
    <% if (usuario.rol === 1) { %>
        <div>
            <a href="/admin/<%= usuario.groups.id %>">Administración <%= usuario.groups.groupname %></a>
        </div>
    <% } %>
    <%- include("./partials/footer.ejs")%>
</body>
</html>