<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/register.css">
    <title>Grupos - Amigo Secreto LD</title>
</head>
<body>
      <div class="header">
      <!-------- MENU DE NAVEGACIÓN -------->
      <%- include("./partials/header.ejs")%>
    </div>

    
      <div class="background">
        
        <section>
   
              <h2>Registrarme</h2>
              <div class="box">
              <form action="/registro" method="post">
                <div class="formReg">
                  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" placeholder="Nombre" name="name" class="form-control form-control-lg" />
                 <!--  <label class="form-label" for="name">Nombre</label> -->
                </div>
                <%  if (locals.errors && errors.name) { %>
                  <div style="color: red">
                      <%= errors.name.msg %> 
                  </div>
              <% } %> 

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3cg" placeholder="Apellido" name="lastName" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="lastName">Apellido</label> -->
                </div>
                <%  if (locals.errors && errors.lastName) { %>
                  <div style="color: red">
                      <%= errors.lastName.msg %> 
                  </div>
              <% } %> 

                <h6 >Género: </h6>
                  <div class="genre">
                  <div class="checkGenre">
                    <input class="checkGenre" type="radio" name="genre" id="femaleGender"
                      value="option1" />
                    <label  for="femaleGender">Femenino</label>
                  </div>

                  <div class="checkGenre">
                    <input type="radio" name="genre" id="maleGender"
                      value="option2" />
                    <label  for="maleGender">Masculino</label>
                  </div>

                  <div class="checkGenre">
                    <input type="radio" name="genre" id="otherGender"
                      value="option3" />
                    <label  for="otherGender">Otro</label>
                  </div>

                </div>

                <div>
                    <input type="text" id="form3Example3cg" placeholder="Documento de identidad" name="idCard" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="lastName">Apellido</label> -->
                  </div>

                  <%  if (locals.errors && errors.idCard) { %>
                    <div style="color: red">
                        <%= errors.idCard.msg %> 
                    </div>
                <% } %> 

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" placeholder="Escriba una Contraseña" name="password" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="password">Contraseña</label> -->
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example4cdg" placeholder="Gustos" name="like" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="like">Gustos</label> -->
                </div>
                <%  if (locals.errors && errors.like) { %>
                  <div style="color: red">
                      <%= errors.like.msg %> 
                  </div>
              <% } %> 

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example4cdg" placeholder="Disgustos" name="dislike" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="dislike">Disgustos</label> -->
                  </div>
                  <%  if (locals.errors && errors.dislike) { %>
                    <div style="color: red">
                        <%= errors.dislike.msg %> 
                    </div>
                <% } %> 

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example4cdg" placeholder="Alergias" name="alergies" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="alergies">Alergias</label> -->
                  </div>
                  <%  if (locals.errors && errors.alergies) { %>
                    <div style="color: red">
                        <%= errors.alergies.msg %> 
                    </div>
                <% } %> 

                  <div class="inputSelect">
                    <select name="group" data-label="Group">
                        <% group.forEach(group => { %>
                            <option value="<%= group.id %>"><%= group.groupname %></option>
                        <% }); %>
                    </select>


                    <div class="botonReg">
                      <input  class="btn btn-danger" type="submit" value="Ingresar">
                          </div>

                <p class="text-center text-muted mt-5 mb-0">¿Ya tienes una cuenta? <a href="/inicioSesion"
                    class="fw-bold text-body"><u>Iniciar Sesión</u></a></p>
                </div>
              </div>
              </form>
            </div>
            <%- include("./partials/footer.ejs")%>
</body>
</html>