<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/register.css">
    <title>Grupos - Amigo Secreto LD</title>
</head>
<body>
      <!-------- MENU DE NAVEGACIÓN -------->
      <%- include("./partials/header.ejs")%>

    
      <div class="background">
        
        <section class="vh-100 bg-image"
  style="background-image: url(/* 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp' */);">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Registrarme</h2>
              <div class="box">
              <form action="/registro" method="post">
                <div class="box">
                  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" placeholder="Nombre" name="name" class="form-control form-control-lg" />
                 <!--  <label class="form-label" for="name">Nombre</label> -->
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3cg" placeholder="Apellido" name="lastName" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="lastName">Apellido</label> -->
                </div>

                <h6 class="mb-0 me-4">Género: </h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                      value="option1" />
                    <label class="form-check-label" for="femaleGender">Femenino</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                      value="option2" />
                    <label class="form-check-label" for="maleGender">Masculino</label>
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                      value="option3" />
                    <label class="form-check-label" for="otherGender">Otro</label>
                  </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3cg" placeholder="Documento de identidad" name="idCard" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="lastName">Apellido</label> -->
                  </div>

                  <%  if (locals.errors && errors.idcard) { %>
                    <div class="Merrors">
                        <%= errors.idcard.msg %> 
                    </div>
                <% } %> 

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" placeholder="Escriba una Contraseña" name="password" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="password">Contraseña</label> -->
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example4cdg" placeholder="Gustos" name="like" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="like">Gustos</label> -->
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example4cdg" placeholder="Disgustos" name="dislike" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="dislike">Disgustos</label> -->
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example4cdg" placeholder="Alergias" name="alergies" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="alergies">Alergias</label> -->
                  </div>

                  <div class="inputSelect">
                    <select name="group" data-label="Group">
                        <% group.forEach(group => { %>
                            <option value="<%= group.id %>"><%= group.groupname %></option>
                        <% }); %>
                    </select>


                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Registrarme" href="/inicioSesion">Ingresar</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">¿Ya tienes una cuenta? <a href="/inicioSesion"
                    class="fw-bold text-body"><u>Iniciar Sesión</u></a></p>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
        <!-- <div class="box">
    <section class="container">
        <h2>Registrarme en el grupo</h2>
        <form  class="form-horizontal" action="/registro" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                
                <input type="text" placeholder="Ingrese su nombre" name="name">
            </div>
            <label class="control-label col-sm-2" for="lastName">Apellido:</label>
            <div class="col-sm-10">
                
                <input type="text" placeholder="Apellido" name="lastName">
            </div>
            <label class="control-label col-sm-2" for="idCard">Documento de identidad:</label>
            <div class="col-sm-10">
                
                <input type="text" placeholder="C.C" name="idCard">
            </div>
            <% if (locals.errors && errors.idcard) { %>
                <div class="Merrors">
                    <%= errors.idcard.msg %> 
                </div>
            <% } %>
            <label class="control-label col-sm-2" for="password">Contraseña:</label>
            <div class="col-sm-10">
                
                <input type="password" placeholder="Contraseña" name="password">
            </div>
            <label class="control-label col-sm-2" for="like">Gustos:</label>
            <div class="col-sm-10">
               
                <input type="text" placeholder="Ingresa tus gustos" name="like">
            </div>

            <label class="control-label col-sm-2" for="dislike">Disgustos:</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Ingresa tus disgustos" name="dislike">
            </div>

            <label class="control-label col-sm-2" for="alergies">Alergias:</label>
            <div class="col-sm-10">
                
                <input type="text" placeholder="Alergias" name="alergies">
               
            </div>

            <div class="inputSelect">
                <select name="group" data-label="Group">
                    <% group.forEach(group => { %>
                        <option value="<%= group.id %>"><%= group.groupname %></option>
                    <% }); %>
                </select>
           

            <input type="submit" value="Registrarme">

            <a class = "registered" href="/inicioSesion">Ya estoy registrado</a>
        </div>
            </form>
                </section>
                    </div> -->
                        </div>
                            </body>
</html>